.questions__results {
  text-align: center;
}

.questions__results p {
  font-size: 20px;
}

.questions__results p span {
  font-size: 22px;
  font-weight: 600;
}

.questions__results h3 {
  margin: 1rem;
  text-align: left;
}