.about-us {
  background-color: white;
  position: relative;
}

.about-us__info {
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: 2;
}

.about-us__slogan {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: .5rem;
}

@media screen and (min-width: 1024px) {
  .about-us__info {
    width: 40%;
  }
  .about-us__slogan {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .about-us__brief {
    color: #ddd;
    font-size: 1.1rem;
  }
}
