.footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  padding: 2rem 0;
  text-align: center;
}

.footer__container > section {
  margin-bottom: 1.5rem;
}

.footer__container > section:last-child {
  margin-bottom: 0;
}

.footer__brand .logo {
  margin-bottom: 1rem;
}

.footer a {
  color: var(--footer-color);
}

.footer a:hover {
  color: var(--secondary-color);
}

.footer__social-networks h3 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 1rem 0;
    text-align: left;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__container > section {
    margin-bottom: 0;
  }
  .footer__menu .menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 90%;
  }
  .footer__menu .menu__item {
    width: 50%;
  }
  .footer__social-networks {
    order: 2;
  }
  .footer__social-networks h3 {
    display: block;
    margin-bottom: 1rem;
  }
  .footer__copyright {
    margin-top: 1rem;
    order: 3;
    text-align: center;
    width: 100%;
  }
}
