.promotion__card {
  background-color: var(--white-color);
  border: 1px solid #000; /* Negro o rojo logo */
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.promotion__image {
  background-color: var(--secondary-color);
  border-radius: 50%;
  fill: var(--icon-color);
  height: 60px;
  padding: .5rem;
  width: 60px;
}

.promotion__title {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0;
}

.promotion__price {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin: .5rem 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.promotion__list--description {
  list-style: none;
}

.promotion__description {
  align-items: center;
  color: #777;
  display: flex;
  font-size: .9rem;
  justify-content: center;
}

/* .promotion__description::before {
  background-color: #000;
  border-radius: 50%;
  content: '';
  display: block;
  flex-shrink: 0;
  height: 5px;
  margin-right: .3rem;
  width: 5px;
} */

@media screen and (min-width: 768px) {
  .promotion__card {
    margin: 0;
  }
}
