.footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  padding: 2rem 0;
  text-align: center;
}

.footer > section {
  margin-bottom: 1rem;
}

.footer > section:last-child {
  margin-bottom: 0;
}

.footer a {
  color: var(--footer-color);
}

.footer a:hover {
  color: var(--secondary-color);
}

.footer__social--list {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  list-style-type: none;
  justify-content: center;
}

.footer__social--list svg {
  fill: var(--icon-color);
  height: 20px;
  width: 20px;
}
