.footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  padding: 2rem 0;
  text-align: center;
}

.footer__container > section {
  margin-bottom: 1.5rem;
}

.footer__container > section:last-child {
  margin-bottom: 0;
}

.footer__brand .logo {
  margin-bottom: 1rem;
}

.footer a {
  color: var(--footer-color);
}

.footer a:hover {
  color: var(--secondary-color);
}

.footer__social-networks h3 {
  display: none;
}

.footer__social--list {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 20px);
  list-style-type: none;
  justify-content: center;
}

.footer__social--list svg {
  fill: var(--icon-color);
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 1rem 0;
    text-align: left;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__container > section {
    margin-bottom: 0;
  }
  .footer__social-networks {
    order: 2;
  }
  .footer__social-networks h3 {
    display: block;
    margin-bottom: 1rem;
  }
  .footer__social--list {
    justify-content: flex-start;
  }
  .footer__copyright {
    margin-top: 1rem;
    order: 3;
    text-align: center;
    width: 100%;
  }
}
