.promotions {
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .promotion__list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .promotion__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
